<div class="container">
	<a  href="/superadmin/create_admin"><button class="btn btn-primary">Manage Admins</button></a>
	<a  href="/superadmin/livetests"><button class="btn btn-primary">Live Tests</button></a>
</div>