<div class="content-page">
  <!-- Start content -->
  <div class="content">
   <div class="container">
   		<a href="addquestions/mathematics">Mathematics</a><br>
   		<a href="addquestions/physics">Physics</a><br>
   		<a href="addquestions/chemistry">Chemistry</a><br>
   		<a href="addquestions/ece">Electronics & Communication</a><br>
   		<a href="addquestions/cse">Computer Science and Engineering</a><br>
   		<a href="addquestions/eee">Electrical & Electronics</a><br>
   		<a href="addquestions/mechanical">Mechanical</a><br>
   		<a href="addquestions/civil">Civil</a><br>
   </div>
   </div>
</div>