<div class="content-page">
  <!-- Start content -->
  <div class="content">
   <div class="container">
   		<a href="addecet/mathematics">Mathematics</a><br>
   		<a href="addecet/physics">Physics</a><br>
   		<a href="addecet/chemistry">Chemistry</a><br>
   		<a href="addecet/ece">Electronics & Communication</a><br>
   		<a href="addecet/cse">Computer Science and Engineering</a><br>
   		<a href="addecet/eee">Electrical & Electronics</a><br>
   		<a href="addecet/mechanical">Mechanical</a><br>
   		<a href="addecet/civil">Civil</a><br>
   </div>
   </div>
</div>