@import "bootstrap-sprockets";
@import "bootstrap";

  html {
  min-height: 100%;
    }
    body {
      height: 100%;
      position: relative;
      font-family:'Open Sans',sans-serif;
      font-size: 13px;
      line-height: 20px;
      background:url(/img/BG.jpg) repeat;
    }
    .ibox-content {
  background-color:  #bbbcc0;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-radius: 15px;
  border-style: solid solid none;
  border-width: 1px 0;
  box-shadow: 10px 10px 5px grey;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}