<div class="content-page">
  <!-- Start content -->
  <div class="content">
   <div class="container">
   		<a href="addeamcet/mathematics">Mathematics</a><br>
   		<a href="addeamcet/physics">Physics</a><br>
   		<a href="addeamcet/chemistry">Chemistry</a><br>
   </div>
   </div>
</div>