<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="col-md-4">
    <a href="/"><img src="http://4.bp.blogspot.com/-Yp__6jsC768/WLqhUlOxbKI/AAAAAAAAGW8/88WLFB8tRko43XjthNQSDnzj8GwgNODSACK4B/s1600/SBTET%2BWORLD1.png" width="60%"></a>
  </div>
  <br>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     
    </ul>
  </div>
</nav>