<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="col-md-4">
    <a href="/"> <img src="http://4.bp.blogspot.com/-Yp__6jsC768/WLqhUlOxbKI/AAAAAAAAGW8/88WLFB8tRko43XjthNQSDnzj8GwgNODSACK4B/s1600/SBTET%2BWORLD1.png" width="60%"></a>
  </div>
  <br>
    <ul class="nav navbar-nav navbar-right" id="mouseover">
     <li>  <%= link_to('My Account', edit_user_registration_path) %></li>
      <li><a href ="/logout">logout </a> </li>
     
    </ul>
  </div>
</nav>